* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: antiquewhite;
    box-sizing: border-box;
}
body {
    color: #fff;
    background-color: black;
}
header {
    display: flex;
    justify-content: space-between;
}
button {
    border: none;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}